@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
    Первый в Беларуси официальный магазин
    БОЕВОГО оружия! У нас вы найдете передовые
    модели новейшего стрелкового оружия от
    ведущих мировых производителей, а наша ценовая
    политика сможет удивить даже самого жадного
    оружейного барона. Так же вас порадует бесплатная
    доставка в любой населенный пункт нашей страны!
    Быстрее переходи по навигации сверху и смотри, что у нас есть!
</p>
</div>
